/*colors*/
/*43538A DARK*/
/*#43538A MED*/
/*#7989BF LOW*/
/*auth page*/
.auth-bg {
  background: linear-gradient(45deg, rgba(187,199,239,1) 35%, rgba(255,255,255,1) 65%);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  .auth-card {
    border-radius: 8px;
    background-color: #F2F5FF;
  }
  .auth-card-title {
    color: #43538A;
    margin-bottom: 10%;
  }
  .auth-a-forget {
    color: #AEADB3;
  }
  .auth-a-forget:hover {
    color: #43538A;
  }
  .form-row-btn {
    margin-bottom: 5%;
  }
  .auth-btn-login {
    color: #43538A;
    background-color: #BBC7EF;
    border: 1px solid #BBC7EF;
    padding: 3%;
    border-radius: 10px;
    display: block;
    width: 100%;
  }
  .auth-btn-login:focus {
    outline: none;
  }
  .auth-btn-login:hover {
  }
  .auth-bloc{ 
    margin-bottom: 5%;
  }
  .auth-form-control {
    display: block;
    width: 100%;
    color: #3C3C3B;
    border: none;
    background-color: transparent;
    outline: none;
  }
  .auth-label-bloc {
    text-align: center;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #B2B2B2;
    padding-bottom: 1%;
  }
  .auth-label-icon { color: #3C3C3B; margin-right: 2.5%;}
  .auth-form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #3C3C3B !important;}
  .auth-form-control::-moz-placeholder { /* Firefox 19+ */ color: #3C3C3B !important; }.auth-form-control:-ms-input-placeholder { /* IE 10+ */ color: #3C3C3B!important; }
  .auth-form-control:-moz-placeholder { /* Firefox 18- */ color: #3C3C3B !important; }
  .tab-link-icon-1 { width: 15%; }
  .tab-link-icon-2 { width: 20%; }
/*btn style*/
.auth-btn-custom-bloc {
  text-align: -webkit-center;
}
.auth-btn-custom-bloc button {
  border: none;
  background-color: transparent;
}
.auth-btn-custom-bloc button:focus {
  outline: none;
}
.auth-btn-custom {
    position: relative;
    display: inline-block;
    width: 230px;
    height: 45px;
    font-size: 1em;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    letter-spacing: 0.045em;
}

.auth-btn-custom svg {
    position: absolute;
    top: 0;
    left: 0;
}

.auth-btn-custom svg rect {
    //stroke: #43538A;
    stroke-width: 2;
    stroke-dasharray: 300, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}
.auth-btn-custom span{
  background: -moz-linear-gradient(left,  #43538A 0%, #43538A 100%);
  background: -webkit-linear-gradient(left,  #43538A 0%,#43538A 100%);
  background: linear-gradient(to right,  #43538A 0%,#43538A 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43538A', endColorstr='#43538A',GradientType=1 );
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.auth-btn-custom:hover svg rect {
    stroke-width: 2;
    stroke-dasharray: 202, 402;
    stroke-dashoffset: 350;
}
.auth-logo-bloc {
  text-align: center;
  margin-bottom: 5%;R
}
/*header*/
.navbar { padding: 2% 0; }
.main-navbar { 
  padding: .5% 5% 0%; 
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(207,216,234,1) 10%, rgba(174,188,224,1) 30%, rgba(161,178,227,1) 50%, rgba(138,162,232,1) 85%, rgba(187,199,239,1) 100%); 
}
.header-logo { 
  width: 75%;
}
.header-exit-link { color: #6271A8; }
.header-exit-icon { font-size: 26px; color: #6271A8; }
.main-navbar .nav-tabs .nav-link { 
  background-color: #DEE1F5;
  color: #ADADAD;
  border-bottom: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: .5rem 2rem;
}
.main-navbar .nav-tabs .nav-link img { filter: brightness(1) invert(.5);}
.nav-tabs .nav-link:focus img{ filter: brightness(1) invert(0); }
.main-navbar .nav-tabs .nav-link:hover img{ filter: brightness(1) invert(0); }
.main-navbar .nav-tabs .active img{ filter: brightness(1) invert(0); }
.main-navbar .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus { background-color: #fff; color: #6271A8;}
.main-navbar .nav-tabs .active { background-color: #fff; color: #6271A8;}
.nav-link-tab:nth-child(2n) {
  margin-left: 10px;
}
.nav-tabs { border-bottom: none; }
/*content*/
.main-bg { background-color: #fff; }
.custom-card {
	/*custom*/
	box-shadow: 0 0.1rem 0.7rem rgb(0 0 0 / 18%);
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 30px;
    /*bootstrap config*/
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}
.main-card-header { 
  border-radius: 12px;
}
.custom-title-card {
	/*custom*/
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 30px;
    /*bootstrap config*/
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 1px;
}
.custom-title-card-bloc {
	text-align: center;
}
.custom-title-card h6 {
    color: #7989BF;
}
.main-card-bg { background-color: #6271A8; }
.main-card-bg-secondary { background-color: #A5B2E1; }
.dark-card-bg { background-color: #333F68; }
.grey-card-bg { background-color: #F7F7F8; }
.grey-card-bg-2 { background-color: #EDEEF0; }
.main-card-padding { padding: 5% 5%; }
.custom-card-padding-1 { padding: 0% 0%; }
.custom-card-padding-2 { padding: 7% 0%; }
.custom-card-padding-3 { padding: 7% 0%; }
.custom-card-header {
	text-align: center;
	cursor: pointer;
}
.custom-card-header h6 {
	margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 14px;
}
.custom-card-header-bloc {
	text-align: center;
}
.custom-card-header-bloc p {
	margin-bottom: 0px;
  text-transform: uppercase;
  font-weight: bold;
}
.custom-card-header-title {
 font-weight: bold;
 text-transform: uppercase;
 font-size: 14px;  
}

.custom-card-min-header {
	padding: 8% 0.5%;
    margin-bottom: 0;
    background-color: transparent;
    font-size: 16px;
    text-transform: capitalize;
    box-shadow: 0 4px 2px -2px #4e5f9e;
    border-radius: 32px;
    background-color: #6271A8;
}
.custom-collapse-arrow {
	font-size: 28px;
    position: absolute;
    right: 3.3%;
    top: 17.5px;
}
.custom-collapse-arrow::after {
    content: "\f106";
    color: #fff;
    float: right;
    font-family: "FontAwesome"
}
.custom-card-header[aria-expanded="true"] .custom-collapse-arrow::after {
  content: "\f107";
}
.custom-collapse-arrow-2 {
  font-size: 28px;
    position: absolute;
    right: 7.3%;
}
.custom-collapse-arrow-2::after {
    content: "\f106";
    color: #fff;
    float: right;
    font-family: "FontAwesome"
}
.collapse-calendar-btn[aria-expanded="true"] .custom-collapse-arrow-2::after {
  content: "\f107";
}
/*calendar*/
.main-calendar {
	width: 100%;
  border-color: transparent;
}
.main-calendar th {
	text-align: center;
}
.main-calendar tr {
	margin-top: 1%;
}
.main-calendar td {
	text-align: -webkit-center;
	padding-top: 3%;
}
/*.main-calendar td {
	padding-top: 7.5%;
}*/
.calendar-month { 
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
}
.calendar-bubble-day {
  background-color: #7989BF;
	border-radius: 50px;
	width: 32px;
	height: 32px;
	font-size: 15px; 
	padding: 6%;
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    place-content: center;
    cursor: pointer;
    transition: .2s;
    border: none;
    margin-right: 0px;
    color: #fff;
}
.card-body-menu { 
  padding: 5% 1.25rem;
}
.menu-added {
  background-color: #28B43C;
}
.menu-selected {
  background-color: #FFFF00;
}
.calendar-bubble-day:hover {
	background-color: #28B43C;
	-webkit-transform: scale(1.04);
	-ms-transform: scale(1.04);
	transform: scale(1.04);
}
.calendar-bubble-day:focus {
  outline: none;
}
.calendar-header-box { 
  padding: 2%;
  background-color: #6271A8;
  border-radius: 50px;
  cursor: pointer;
}
.main-icon-card-header { 
  position: absolute;
  left: 15%;
  width: 24px;
}
.collapse-show-month-body {
  background-color: #A5B2E1;
  padding-top: 5%;
}
.calendar-month-wrapper {
  background-color: #A5B2E1;
  padding-bottom: 10%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 10%;
}
.summary-card { 
  padding: 5%;
  background-color: #6271A8;
  border-radius: 12px;
}
.summary-card p {
  margin-bottom: 0px;
  color: #fff;
}
/*accompaniment*/
.main-card-wrapper { 
  background-color: #D3DCFF;
  border-radius: 13px;
  padding-bottom: 5%;
}
.main-category-card { 
  border-radius: 35px;
}
.zeroed-col { padding: 0px; }
.menu-ul { padding: 0px; list-style: none; }
.main-icon-size { font-size: 19px !important; color: #fff; }
.main-icon-size:hover { font-size: 19px !important; color: #333F68;; }
.menu-list-checkbox-bloc { text-align: -webkit-center; }
.menu-list-title { margin-bottom: 0px; font-size: 1rem; cursor: pointer;}
.menu-list-row { transition: .1s; justify-content: center;}
.menu-list-row:hover {
	-webkit-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01);
}
.menu-list-row:hover:after { 
	content: " ";
	position:absolute;
	left: 25%;
	bottom: 0;
	width: 50%;
	height: 5px;
	z-index:-1;
	-moz-box-shadow: 4px 2px -2px #4e5f9e;
	-webkit-box-shadow: 4px 2px -2px #4e5f9e;
	box-shadow: 0 4px 2px -2px #4e5f9e;
}
.menu-ul li { margin-top: 2%; }
/**/
.calendar-card-wrapper {
  background-color: #D3DCFF;
  padding-bottom: 5%;
  border-radius: 13px;
}
.rounded-checkbox {
  position: relative;
}

.rounded-checkbox label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 19px;
  left: 30%;
  position: absolute;
  top: 0;
  width: 19px;
}

.rounded-checkbox label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 5px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 12px;
}

.rounded-checkbox input[type="checkbox"] {
  visibility: hidden;
}

.rounded-checkbox input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.rounded-checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

/*Modals*/
.custom-modal-header {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
     align-items: flex-start; 
    -ms-flex-pack: justify;
     justify-content: space-between; 
    padding: 1rem 1rem;
    border-bottom: 1px solid rgb(255 255 255 / 20%);
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}
.custom-modal-close {
	right: 18px;
	position: absolute;
}
.confirmed-card {
	text-align: center;
}
/*.active { color: #28B43C; }
.inative { color: #FF5448; }
.pending { color: #ECCC77; }*/
.main-btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 20px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.main-btn-color {
  background-color: #333F68;
}
.main-btn-color:hover {
  border: 1px solid #BBC7EF;
  background-color: #BBC7EF;
}
.main-btn-width {
  width: 50%;
}
.main-save-btn-green {
  background-color: #28B43C;
  width: 180px;
  height: 45px;
}
.main-save-btn-green:hover {
  background-color: #39D34F;
}
.collapse-btn-bloc {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
/* -----------------------
Left Navigation Sidebar
------------------------- */

.nav-left-sidebar {
    position: fixed;
    height: 75%;
    border-radius: 40px;
    bottom: 50px;
    left: 50px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    -webkit-transition: all 0.3s ease;
    z-index: 1;
}

.nav-left-sidebar .nav-link[data-toggle="collapse"] {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-left-sidebar .nav-link[data-toggle="collapse"]::after {
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    right: 20px;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.nav-left-sidebar .nav-link[data-toggle="collapse"][aria-expanded="false"]:after {
    transform: rotate(-90deg);
}

.nav-left-sidebar .nav-link[data-toggle="collapse"]:after {
    transition: transform .35s ease, opacity .35s ease;
    opacity: .5;
}

.nav-left-sidebar .navbar-nav {
    width: 100%;
}

.nav-left-sidebar .navbar {
    position: relative;
    padding: 40px 14px 14px;;
    width: 100px;
    height: 100%;
}

.nav-left-sidebar .navbar-nav .nav-item {}

.nav-left-sidebar .navbar-nav .nav-link {
    font-size: 14px;
    padding: 10px 22px;
    /* margin-bottom: 2px; */
    color: #71789e;
    transition: 0.3s;
}

.nav-left-sidebar .nav-link i {
    font-size: 14px;
    margin-right: 9px;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;
}

.nav-divider {
    padding: 10px 14px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}

.nav-left-sidebar .submenu {
    padding-left: 12px;
    padding-right: 12px;
    /* margin-top: 5px; */
    background: #24274a;
}

.nav-left-sidebar .submenu .nav .nav-item .nav-link {
    font-size: 14px;
    padding: 6px 12px;
    transition: 0.3s;
}

.nav-left-sidebar .navbar-nav .nav-link:focus,
.nav-left-sidebar .navbar-nav .nav-link.active {
    background-color: #e2e2eb;
    color: #3d405c;
    border-radius: 2px;
}

.nav-left-sidebar .navbar-nav .nav-link:focus,
.nav-left-sidebar .navbar-nav .nav-link:hover {
    background-color: #e2e2eb;
    color: #3d405c;
    border-radius: 2px;
}

.nav-left-sidebar .submenu .nav .nav-item .nav-link:hover {
    color: #3d405c;
    border-radius: 2px;
    background-color: transparent;
}

.nav-left-sidebar .navbar-toggler {
    background-color: #fff;
}
.navbar-toggler {
    padding: .25rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}
/* -----------------------
Leftsidebar - Primary
------------------------- */

.sidebar-primary {
    background-color: #414da7;
}

.sidebar-primary .nav-divider {
    color: #ddddff;
}

.sidebar-primary.nav-left-sidebar .nav-link i {
    color: #8991d4;
}

.sidebar-primary.nav-left-sidebar .navbar-nav .nav-item {}

.sidebar-primary.nav-left-sidebar .navbar-nav .nav-link {
    color: #8991d4;
}

.sidebar-primary.nav-left-sidebar .navbar-nav .nav-link:focus,
.sidebar-primary.nav-left-sidebar .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: #5761c2;
    border-radius: 2px;
}

.sidebar-primary.nav-left-sidebar .navbar-nav .nav-link:focus,
.sidebar-primary.nav-left-sidebar .navbar-nav .nav-link.active {
    background-color: #5761c2;
    color: #fff;
    border-radius: 2px;
}

.sidebar-primary.nav-left-sidebar .submenu .nav .nav-item .nav-link:hover {
    color: #fff;
    border-radius: 2px;
    background-color: transparent;
}


/* -----------------------
Leftsidebar - dark
------------------------- */

.sidebar-dark {
    background-color: #0e0c28;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
    -webkit-transition: all 0.3s ease;
}

.sidebar-dark .nav-divider {
    color: #a4aadb;
    font-size: 12px;
    letter-spacing: 1px;
}

.sidebar-dark.nav-left-sidebar .nav-link i {
    color: #7a80b4;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item {}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link {
    color: #7a80b4;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus,
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: #242849;
    border-radius: 2px;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus,
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active {
    background-color: #242849;
    color: #fff;
    border-radius: 2px;
}

.sidebar-dark.nav-left-sidebar .submenu .nav .nav-item .nav-link:hover {
    color: #fff;
    border-radius: 2px;
    background-color: #242849;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-item .badge{
    position: absolute;
    right: 40px;
    display: none;
}

/*-----navigation dark ---*/


/*-----------------------
Sidebar Page Navigations
-------------------------*/

.sidebar-nav-fixed {
    position: sticky;
    top: 5rem;
}

.sidebar-nav-fixed ul {}

.sidebar-nav-fixed ul li {}

.sidebar-nav-fixed ul li a {
    font-size: 14px;
    color: #71728e;
    display: block;
    padding: 5px 15px;
    background: transparent;
    border-radius: 4px;
    line-height: 1.8;
}

.sidebar-nav-fixed ul li a:hover {
    color: #5969ff;
}

.sidebar-nav-fixed ul li a.active {
    display: block;
    color: #5969ff;
    background: #e0e0fd;
}

/*footer*/
.footer-text {
  color: #7989BF;
}
.main-footer {
  background-color: #BBC7EF;
  padding: 1.5%;
}
/*status*/
.status-yellow {
  color: #FFFE00;
}
.status-sucess { 
  color: #28B43C;
}
.status-danger { 
  color: #B42828;
}